<%= form_for(@link, url: links_path, html: { class: "max-w-md mx-auto bg-white p-8 border rounded-md shadow-md mt-4" }, local: true) do |form| %>

  <div class="mb-4">
    <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :name, class: "block w-full px-3 py-2 mt-2 rounded-md border border-gray-300 shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" %>
  </div>

  <div class="mb-4">
    <%= form.label :url, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :url, class: "block w-full px-3 py-2 mt-2 rounded-md border border-gray-300 shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" %>
  </div>

  <div class="mb-4">
    <%= form.label :type, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.select :type, [['Regular', 'RegularLink'], ['Temporal', 'TemporalLink'], ['One Time', 'OneTimeLink'], ['Private', 'PrivateLink']],
               { prompt: 'Select Link Type' }, { class: "block w-full px-3 py-2 mt-2 rounded-md border border-gray-300 shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50", id: "link_type" } %>
  </div>

  <div class="mb-4" id="expiration_date_field" style="display:none">
    <%= form.label :expiration_date, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.date_field :expiration_date, class: "block w-full px-3 py-2 mt-2 rounded-md border border-gray-300 shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" %>
  </div>

  <div class="mb-4" id="password_field" style="display:none">
    <%= form.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.password_field :password, class: "block w-full px-3 py-2 mt-2 rounded-md border border-gray-300 shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <br/>
  <div class="mt-4">
    <%= form.submit "Create Link", class: "bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800" %>
  </div>
<% end %>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Ocultar campos al cargar la página
    toggleFields();
  
    // Escuchar cambios en el campo de tipo
    $('#link_type').on('change', function () {
      toggleFields();
    });
  
    function toggleFields() {
      // Obtener el valor seleccionado del campo de tipo
      var selectedType = $('#link_type').val();
  
      // Mostrar u ocultar campos basados en el tipo seleccionado
      if (selectedType === 'TemporalLink') {
        $('#expiration_date_field').show();
        $('#expiration_date_field input').prop('disabled', false);
      } else {
        $('#expiration_date_field').hide();
        $('#expiration_date_field input').prop('disabled', true);
      }
  
      if (selectedType === 'PrivateLink') {
        $('#password_field').show();
        $('#password_field input').prop('disabled', false);
      } else {
        $('#password_field').hide();
        $('#password_field input').prop('disabled', true);
      }
    }
  
    // Llamamos a la función una vez al cargar la página para asegurarnos de que los campos estén configurados correctamente
    toggleFields();
  });
  
</script>
